body 
{
    background: #fff;
    box-shadow: 0 0 5px rgba(210, 210, 210, 1);
    color: #000;
    margin: auto;
    width: 75%;
    min-height: 100%;
}
table
{
    border: none;
    width: 100%;
    padding: 3% 3% 3% 3%;
}